---
layout: default 
header:
  heading: samkalpa.
  description_html: Web Development for Conscious Brands<br>Built to Stand Out in an Over Saturated Market
about-section:
  heading: What we do.
  description_html: At Samkalpa, we specialize in crafting custom websites with intention. We begin by understanding your brand's unique needs and then develop a tailored website strategy. Our goal is to help you stand out in a crowded market, believing that success doesn't solely rely on having a large following. We offer website design, web development, and CRM management to help you maximize profits. Our aim is to free up your time, allowing you to focus on what you love, while we take care of the administrative aspects. Let us guide you on a helpful and informative journey of building a custom site that truly reflects your brand and supports your success.
seo: 
  title: Samkalpa.
  description: 
  keywords: 
  social_image: 
  hide-from-google: true
---

<!-- Nav -->
{% include site-header.html %}

<!-- Hero Banner -->
{% include hero-banner.html %}

<!-- Portfolio -->
{% include portfolio.html %}

<!-- About -->
{% include about.html %}

<!-- FAQ Section -->
{% include faq.html %}

<!-- Pricing Form -->
{% include form-pricing.html %}

<!-- Cookie Banner -->
<!-- {% include cookie-banner.html %} -->