/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'postureregular';
    src: url('/posture-webfont.woff2') format('woff2'),
         url('/posture-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {

}

h1, h2 {
    @apply font-heading
}

h1 {
    @apply text-h-light text-[20vw] leading-[1em]
}

h2 {
    @apply lowercase text-dark
}

footer span {
    @apply text-[20vw] font-heading text-h-light opacity-20
}

footer a {
    @apply lowercase pb-2 border-b border-black
}

/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {
    .heading-md {
        @apply text-8xl
    }

    .link {
        @apply border-b font-heading pb-2 lowercase
    }

    .button {
        @apply lowercase px-8 py-2 bg-feature inline-block text-light mt-8 tracking-wider font-heading
    }

    .bg-image-style {
        @apply bg-dark bg-cover bg-no-repeat
    }

    .portfolio-gallery {
        @apply overflow-x-scroll whitespace-nowrap
    }

    .gallery-items {
        @apply min-h-60 border border-black
    }

    .overflow-heading {
        @apply text-[18vw] text-clip overflow-hidden whitespace-nowrap text-center
    }

    .transparent {
        @apply text-transparent
    }
}