/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'postureregular';
    src: url('/posture-webfont.woff2') format('woff2'),
         url('/posture-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {

}

h1 {font-family: 'postureregular', 'serif';}


/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {
    .bg-image-style {
        @apply bg-dark bg-cover bg-no-repeat
    }
}