<section class="pt-5p pb-10p md:hidden">
    <h2 class="overflow-heading -mb-10p">{{page.about-section.heading}}</h2>
    <div class="border border-feature p-5p mx-10p bg-light relative opacity-90 mb-12">
        {{page.about-section.description_html}}
    </div>

    <div class="px-10">
        {% for item in site.data.faq-settings.features limit:4 offset:1 %}
        <h3 class="font-heading text-dark text-2xl mt-8 mb-2 lowercase">{{item.feature}} .</h3>
        <p>{{item.description}}</p>
        {% endfor %}
    </div>
</section>