<div id="cookie-notice" class="grid grid-cols-12 gap-8 p-5p bg-medium/90 border-t border-black">
    <div class="col-span-11 text-left text-sm">
        <span>We use cookies to enhance your browsing experience. By clicking "Accept," you agree to the use of cookies on our website. To learn more, please review our Cookie Policy.</span>
    </div>
    <div class="text-right text-lg cursor-pointer">
        <span id="close-cookie-banner">X</span>
    </div>

    <div class="col-span-6 text-right text-dark text-sm">
        <a href="/cookie-policy.html" class="link">Cookie Policy</a>
    </div>
  
    <div class="col-span-6 text-left text-dark cursor-pointer text-sm">
        <a id="cookie-notice-accept" class="link">Approve</a>
    </div>
    
</div>