<section id="contact" class="contact-section fixed top-10p left-10p z-30 hidden justify-center align-center">
    <div class="bg-light border border-feature w-[80vw]">
        <span class="x contact-button">X</span>
        <form name="contact" method="post" data-netlify="true" action="/index.html" onSubmit="submit" data-netlify-honeypot="bot-field" class="min-w-[25%] p-10p leading-6">

            <input class="hidden" name="bot-field">
            <div class="mb-4">
                <input type="text" id="first-name" name="first-name" class="block border-b border-black w-full" required>
                <label for="first-name">First Name:</label>
            </div>

            <div class="mb-4">
                <input type="text" id="last-name" name="last-name" class="block border-b border-black w-full" required>
                <label for="last-name">Last Name:</label>
            </div>

            <div class="mb-4">
                <input type="email" id="email" name="email" class="block border-b border-black w-full" required>
                <label for="email">Email:</label>
            </div>

            <div>
                <label for="message" class="block">Message</label>
                <textarea id="message" name="message" rows="4" placeholder="Type your message here..."
                    class="w-full border border-black bg-transparent box"></textarea>
            </div>

            <button type="submit" class="button">Send</button>
        </form>
    </div>
</section>