<section class="pricing-section fixed top-10p left-10p bottom-10p z-30 hidden justify-center align-center">
    <div class="bg-medium border border-feature w-[80vw]">
        <span class="x pricing-button">X</span>
        <form id="pricing-form" class="popup-form px-10p leading-6 top-10p bottom-10p absolute" name="pricing"
            method="post" data-netlify="true" action="/index.html" onSubmit="submit" data-netlify-honeypot=“bot-field”>

            <input class="hidden" name="bot-field">
            <div class="mb-4">
                <input type="text" id="first-name" name="first-name" class="block border-b border-black w-full" required>
                <label for="first-name">First Name:</label>
            </div>

            <div class="mb-4">
                <input type="text" id="last-name" name="last-name" class="block border-b border-black w-full" required>
                <label for="last-name">Last Name:</label>
            </div>

            <div class="mb-4">
                <input type="email" id="email" name="email" class="block border-b border-black w-full" required>
                <label for="email">Email:</label>
            </div>

            <div class="mb-4">
                <input type="text" id="business-name" name="business-name" class="block border-b border-black w-full">
                <label for="business-name">Business Name:</label>
            </div>

            <div class="mb-4">
                <label for="current-struggles" class="block">What’s been most difficult for you in achieving your vision?</label>
                <textarea id="current-struggles" name="current-struggles" rows="4"
                    placeholder="Share your challenges here..."
                    class="w-full border border-black bg-transparent box" required></textarea>
            </div>

            <div>
                <label for="additional-info" class="block">Additional Information:</label>
                <textarea id="additional-info" name="additional-info" rows="4"
                    placeholder="Enter any additional information here..."
                    class="w-full border border-black bg-transparent box"></textarea>
            </div>

            <button type="submit" class="button">Submit</button>
        </form>
    </div>
</section>