<section class="grid md:grid-cols-5 lg:grid-cols-2 bg-medium">
    <div class="bg-image-style min-h-[60vh] md:hidden border-b border-black"
        style="background-image: url('/images/samkalpa-portfolio-2.jpg');background-position: 50% 70%;"></div>
    <div class="p-10 md:col-span-4 lg:col-span-1">
        <div class="p-10 bg-light border">
            <h2 class="text-4xl mb-[0.25em]">Anatomy Of A Website</h2>
            <p class="uppercase mb-[0.5em]">Uplevel Your Site In 5 Days</p>
            <p class="mb-[0.5em]">Anatomy of a Website is a 5-day workbook series. Every day, you'll receive a new interactive PDF lesson along with practical exercises. By the fifth day, you'll have actionable steps to elevate your website.</p>
            <ul>
                <li>Map out a web design tailored to your brand’s unique needs.</li>
                <li>Create a brand strategy that resonates with your audience.</li>
                <li>Write content for your website that optimises conversion rates.</li>
                <li>Strategically guide your visitors through your website.</li>
                <li>Prepare your website for mobile devices.</li>
            </ul>

            <div>
                <form 
                name="lead" 
                method="post" 
                data-netlify="true" 
                action="/index.html" 
                onSubmit="submit" 
                data-netlify-honeypot="pot-field" class="leading-6">
    
                <input class="d-none" name="bot-field">
                <div class="mb-4">
                    <input type="text" id="first-name" name="first-name" class="block border-b border-black w-full">
                    <label for="first-name">First Name:</label>
                </div>
    
                <div class="mb-4">
                    <input type="text" id="last-name" name="last-name" class="block border-b border-black w-full">
                    <label for="last-name">Last Name:</label>
                </div>
    
                <div class="mb-4">
                    <input type="email" id="email" name="email" class="block border-b border-black w-full">
                    <label for="email">Email:</label>
                </div>
    
                <button type="submit" class="button">Enroll for free.</button>
            </form>
            </div>
        </div>
    </div>
    <div class="bg-image-style"
        style="background-image: url('/images/samkalpa-portfolio-2.jpg');background-position: 50% 70%;"></div>
</section>