<section class="bg-light py-10p">
    <h2 class="heading-md relative -rotate-90 left-[-32%] top-[-12rem]">Portfolio.</h2>
    <div class="grid grid-cols-3 gap-4 portfolio-gallery md:ml-[20%]">
        {% for item in site.projects %}
        <a href="{{item.url}}">
            <div x-data="{ hover: false }" @mouseenter="hover = true" @mouseleave="hover = false"
                class="bg-image-style gallery-items bg-overlay bg-overlay-gradient flex flex-col justify-center"
                style="background-image: url('{{item.featured-image}}');">
                <h3 x-show="hover" class="text-medium font-heading text-center">{{item.title_html}}.</h3>
            </div>
        </a>
        {% endfor %}
    </div>
</section>