<footer class="z-20">
    <div class="min-h-[40vh] -mb-[50%] sm:-mb-[30%] md:-mb-[20%] bg-dark flex items-center">
        <nav class="grid md:grid-cols-3 justify-items-center w-full z-10">
            <a href="#" class="contact-button">Contact. &nbsp;→</a>
            <a href="#" class="pricing-button my-10p md:my-0">Connect to get started. &nbsp;→</a>
            <a href="/privacy-policy.html">Privacy Policy. &nbsp;→</a>
        </nav>
    </div>
    <span class="relative leading-[0.7em]">samkalpa.</span>
</footer>