<!-- <nav class="flex justify-end bg-dark">
    <a href="#" class="px-5p py-8"><span class="link text-h-light pricing-button">Connect to learn more.</span></a>
</nav> -->

<header class="flex justify-end">
    <div class="mobile-button">
          <span class="mobile-top"></span>
          <span class="mobile-middle"></span>
          <span class="mobile-bottom"></span>
    </div>
</header>

<nav class="mobile-menu">
    {% for item in site.data.site-settings.navigation %}
    <a href="{{item.url}}" class="p-4 uppercase whitespace-nowrap hover:text-accent">{{item.title}}</a>
    {% endfor %}
</nav>