<footer class="z-20 bg-dark bg-contain bg-no-repeat bg-center bg-[url('/images/embodied-creative-1.jpg');] lg:bg-[url('/images/embodied-creative-2.jpg');]">
    <div class="flex items-center py-10p">
        <nav class="grid md:grid-cols-3 justify-items-center w-full z-10">
            <span href="#" class="contact-button link-nav cursor-pointer relative z-10">Contact .</span>
            <span href="#" class="pricing-button link-nav cursor-pointer my-10p md:my-0">Connect to get started .
            </span>
            <a href="/privacy-policy.html">Privacy Policy .</a>
        </nav>
    </div>
</footer>