<header class="flex justify-between">
    <a href="/index.html" class="px-5p py-8 text-dark font-heading tracking-wide text-xl text-heading">embodied.creative</a>
    <div class="mobile-button-dark">
          <span class="mobile-top"></span>
          <span class="mobile-middle"></span>
          <span class="mobile-bottom"></span>
    </div>
</header>

<nav class="mobile-menu fade-in">
    {% for item in site.data.site-settings.navigation %}
    <a href="{{item.url}}" class="p-4 uppercase whitespace-nowrap hover:text-accent">{{item.title}}</a>
    {% endfor %}
</nav>