<footer class="z-20 bg-dark bg-contain bg-no-repeat"
    style="background-image: url('/images/samkalpa-portfolio-1.jpg');">
    <div class="flex items-center py-10p px-5p">
        <nav class="grid md:grid-cols-3 justify-items-center w-full z-10">
            <span href="#" class="contact-button link-nav cursor-pointer relative z-10">Contact. &nbsp;→</span>
            <span href="#" class="pricing-button link-nav cursor-pointer my-10p md:my-0">Connect to get started.
                &nbsp;→</span>
            <a href="/privacy-policy.html">Privacy Policy. &nbsp;→</a>
        </nav>
    </div>
</footer>