---
layout: default 
---

<!-- Nav Menu -->
{% include site-header-dark.html %}

<!-- Gallery -->
{% include portfolio-gallery.html %}

<!-- Mobile Gallery -->
{% include portfolio-gallery-mobile.html %}

<!-- Approach -->
<section class="py-10p">
    <div class="grid grid-cols-12 justify-items-end px-5p mb-16">
        <div class="col-span-1 -mr-8">
            <h2 class="heading-md vertical-text mt-[75%] ml-[80%]">Approach.</h2>
        </div>
        <div class="col-span-11 border border-feature bg-light opacity-70 p-5p flex-auto">
            <p>{{page.description_html}}</p>
        </div>
    </div>
    <div class="grid grid-cols-12 px-5p">
        <div></div>
        <div class="col-span-11">
            <a href="{{page.domain}}" target="_blank" class="link text-feature mb-4 md:mb-0 inline-block">View the site live.</a>
        </div>
    </div>
</section>