---
layout: default
---

<nav>
    <a href="/index.html" class="lowercase">Samkalpa.</a>
</nav>

<!-- Gallery -->
{% include portfolio.html %}

<!-- Approach -->
<section>
    <h2>Project Approach</h2>
    <div>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae nventore veritatis et quasi architecto beatae vitae dicta sunt. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut fugit, sed quia consequuntur magni dolores eos qui ratione sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum sit amet, consectetur, adipisci velit, sed quia non numquam eius </p>
    </div>
    <a href="#">View the site live</a>
</section>