---
layout: default 
---

<!-- Nav Menu -->
{% include nav-project.html %}

<!-- Gallery -->
{% include portfolio-gallery.html %}

<!-- Approach -->
<section class="pt-5p pb-10p">
    <div class="flex px-5p mb-16">
        <div class="flex-auto -mr-[1.9rem]">
            <h2 class="heading-md relative vertical-text">Approach.</h2>
        </div>
        <div class="border border-feature bg-medium opacity-70 p-5p flex-auto">
            <p>{{page.description_html}}</p>
        </div>
    </div>
    <a href="#" class="link ml-5p text-feature">View the site live.</a>
</section>