---
layout: default 
---

<!-- Nav Menu -->
<nav class="flex justify-start">
    <a href="/index.html" class="px-16 py-8 text-dark font-heading tracking-wide text-xl"><span class="text-heading">samkalpa.</span></a>
</nav>

<!-- Gallery -->
<section class="px-5p mb-5p">
    <div class="grid grid-cols-3 gap-8">
    {% for item in site.projects limit:3 %}
        <div class="bg-image-style aspect-portrait border border-black mb-8" style="background-image: url('{{item.gallery.image}}');"></div>
    {% endfor %}
    </div>
  </section>

<!-- Approach -->
<section>
    <h2>Project Approach</h2>
    <div>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae nventore veritatis et quasi architecto beatae vitae dicta sunt. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut fugit, sed quia consequuntur magni dolores eos qui ratione sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum sit amet, consectetur, adipisci velit, sed quia non numquam eius </p>
    </div>
    <a href="#">View the site live</a>
</section>