---
layout: default 
---

<!-- Nav Menu -->
{% include nav-project.html %}

<!-- Gallery -->
{% include portfolio-gallery.html %}

<!-- Approach -->
<section class="pt-5p pb-10p">
    <div class="grid grid-cols-12 justify-items-end px-5p mb-16">
        <div class="col-span-1 -mr-8">
            <h2 class="heading-md relative vertical-text">Approach.</h2>
        </div>
        <div class="col-span-11 border border-feature bg-light opacity-70 p-5p flex-auto">
            <p>{{page.description_html}}</p>
        </div>
    </div>
    <div class="grid grid-cols-12 px-5p">
        <div></div>
        <div class="col-span-11">
            <a href="#" class="link text-feature">View the site live.</a>
        </div>
    </div>
</section>