---
layout: default 
---

<!-- Nav Menu -->
<nav class="flex justify-start">
    <a href="/index.html" class="px-16 py-8 text-dark font-heading tracking-wide text-xl"><span class="text-heading">samkalpa.</span></a>
</nav>

<!-- Gallery -->
<section class="px-5p">
    <div class="grid grid-cols-3 gap-8">
    {% for item in site.projects limit:3 %}
        <div class="bg-image-style aspect-portrait border border-black mb-8" style="background-image: url('{{item.gallery.image}}');"></div>
    {% endfor %}
    </div>
  </section>

<!-- Approach -->
<section class="pb-10p">
    <h2 class="overflow-heading-projects z-0 lowercase">Project Approach.</h2>
    <div class="border border-feature p-5p m-10p z-10 bg-light relative top-[-12rem]">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
    </div>
    <a href="#" class="link mx-10p text-feature">View the site live.</a>
</section>