---
layout: default-dark
---

<!-- Hero Banner -->
<section class="min-h-[80vh] bg-dark flex justify-center items-center">
    <div class="px-5p">
        <h1 class="page-title fade-in-1">Proposal: {{page.title}}</h1>
        <p class="page-subtitle fade-in-2">Web Strategy, Design & Development by Embodied Creative</p>
    </div>
</section>

<!-- Objective -->
<section class="py-10p">
    <div class="grid grid-cols-12 justify-items-end px-10p mb-16">
        <div class="col-span-1 -mr-8">
            <h2 class="heading-md vertical-text mt-[75%] ml-[80%]">Objective.</h2>
        </div>
        <div class="col-span-11 border border-feature bg-light opacity-70 p-5p flex-auto">
            <p>{{page.objective_html}}</p>
        </div>
    </div>
</section>


<!-- Process -->
<section class="bg-medium pt-5p pb-10p hidden md:block">
    <h2 class="overflow-heading text-[13.5vw] -mb-[8%]">Website Process</h2>
    <div class="border border-feature p-5p mx-10p bg-light relative opacity-90 mb-12">
        <strong>Step 1 - Strategy</strong>
        <br>We engaged in a strategic meeting with relevant key parties to discuss goals, the brand, important features
        and functionality, etc. We'll then go away and come away with a comprehensive website strategy, and design
        inspiration.
        <br><em>(40% of the payment is required to initiate this step)</em></p>
        <p><strong>Step 2 - Design</strong>
            <br>Based on the strategic brief, we'll come up with a custom design for the website. This design will be
            optimized not just to be visually stunning, but to load fast, be easy to update and maintain and planned
            with an understanding of the psychology of the user.
        </p>
        <p><strong>Step 3 - Development</strong><br>After you have reviewed and approved the design we'll get to work
            building it. We'll be building from scratch using HTML, CSS and Javascript (no clunky pre-built templates
            here). We'll conduct comprehensive browser testing, speed testing and website optimisation.<br><em>(50% of
                the payment is required to initiate this step)</em></p>
        <p><strong>Step 4 - Review & Upload Content</strong><br>Now it's time to review the live site (on a hidden domain),
            upload all of your content (photos, images etc) and teach you how to use the content management system so
            that it's easy for you to manage ongoing.<br><em>(10% of the payment is required to initiate this step)</em></p>
        <p><strong>Step 5 - Site Live</strong><br>When all has been signed off, we'll push the site live on the client
            name
            domain and conduct one final round of testing.</p>
    </div>
</section>

<!-- Budget -->
<section>
    <h2>Budget</h2>

    <!-- Includes -->
    <h3>What's Included</h3>
    <ul>
        <li>Strategic review of website needs & goals</li>
        <li>Custom design to suit the brand and target audience</li>
        <li>Build in the latest technologies, HTML5, CSS3, jQuery and Jekyll</li>
        <li>Page animations and transitions for visual impact</li>
        <li>Custom integration to CloudCannon content management system</li>
        <li>Full access to the codebase through Github</li>
        <li>Responsive across all devices (including mobile and tablet)</li>
        <li>Integration of live instagram widget to view latest instagram posts</li>
        <li>Optimized for speed and performance</li>
        <li>Optimized for search engine ranking with the ability to custom edit SEO meta-data for each page</li>
        <li>Video tutorial of how to use your new content management system</li>
    </ul>

    <!-- Pricing Options -->
     <div class="grid grid-cols-4">

        {% for item in page.options %}
        <!-- Options -->
        <div class="m-4">

            <!-- Title -->
            <div class="flex justify-between border-b-[0.5px] border-black">
                <h4>{{item.title}}</h4>
                <p>{{item.price}} €</p>
            </div>

            <!-- Includes -->
            <div>
                <p>Bespoke {{item.page_number}}-page website design</p>
                <ul>
                    {% for feature in item.features %}
                    <li>{{ feature }}</li>
                    {% endfor %}
                </ul>
                <p>Cookie consent banner to ensure compliance with privacy regulations</p>
                <p>Privacy policy page to build trust with your visitors</p>
                <p>Custom 404 error page to maintain a seamless user experience</p>
                <p>Setup and integration of Google Analytics</p>
                <p>Custom email setup using Google Apps</p>
            </div>

            <!-- Pricing Stages -->
            <div>
                <p class="border-b-[0.5px] border-black uppercase">Pricing Stages</p>
                <p>Design: {{item.pricing_stages.design}} €</p>
                <p>Develop: {{item.pricing_stages.develop}} €</p>
                <p>Launch: {{item.pricing_stages.launch}} €</p>
            </div>
        </div>
        {% endfor %}
     </div>
</section>

<!-- Pricing Form -->
{% include form-pricing.html %}